$color1-title: #eeeeee;
$color2-title:#00adb5;

.restaurant-rating {
  padding-left: 5px;
}

.restaurant-button {
  margin-top: 10px;
  padding-bottom: 10px;
}

.restaurant-image {
  width: 300px;
  height: 170px
}

.restaurant-adress {
  padding-left: 10px;
  margin:0;
}

.restaurant-name {
  margin:0;
}

@media screen and (max-width: 600px) {
  .restaurant-adress {
    font-size: 0.8em;
  }

  .restaurant-name {
    font-size: 1em;
  }

  .restaurant-rating {
    font-size: 0.8em;
  }

  .restaurant-image{
    width: 200px;
  height: 115px
  }
}
