<header fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <a href="index.html" title="Le Gourmand" ng-click="$event.preventDefault()" routerLink="">
      <img src="./assets/images/logo.png" id="website-logo"></a>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <h1>Le</h1>
      <h1>Gourmand</h1>
    </div>
  </div>
  <ul fxLayout="column" fxLayoutAlign="space-around center">
    <li routerLinkActive="active" *ngIf="!isAuth">
      <a routerLink="auth/signup">Créer un compte<mat-icon>person_add</mat-icon></a>
    </li>
    <li routerLinkActive="active" *ngIf="!isAuth">
      <a routerLink="auth/signin">Connexion<mat-icon>person</mat-icon></a>
    </li>
    <li>
      <a (click)="onSignOut()" style="cursor:pointer" *ngIf="isAuth">Déconnexion<mat-icon>person_outline</mat-icon></a>
    </li>
  </ul>
</header>
