$color1-title: #C30000;
$color2-title: #F29800;

mat-toolbar{
  background: rgb(34, 34, 34);
}

h1 {
  font-weight: bold;
  font-size: 2em;

  &:nth-of-type(1) {
    color: $color1-title;
  }

  &:nth-of-type(2) {
    color: $color2-title;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li a {
    display: block;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  li a:hover:not(.active) {
    background-color: $color2-title;
    color:  rgb(34, 34, 34);
    border-radius: 1em;
  }
}

mat-icon{
  padding-left: 4px
}
