.review {
  padding: 2px;
  background: rgba(255, 255, 255, 0.877);

  .profile {

    .profile-photo {
      max-width: 32;
    }

    .author-name {
      font-size: 0.8em;
      font-weight: bolder;
    }
  }

  .review-contain {
    max-width: 400;

    .rating-date {
      p {
        padding-left: 10%;
        font-size: 0.9em;
      }
    }

    .text-review {
      background-color: rgba(240, 236, 236, 0.63);
      padding: 1%;
      border-radius: 15px;
      font-size: 0.9em;
    }
  }
}

$color1-title: #C30000;
$color2-title:#F29800;

.review::before {
  content: "";
  height: 2px;
  background: linear-gradient(to right,$color2-title 0%,$color1-title 50%, $color2-title 100%);
  position: absolute;
  width: 130px;
}
