$color1-title: #eeeeee;
$color2-title:#00adb5;
$color3-title: #222831;

.review {
  padding: 2px;
  background: white;
  border-radius: 10px;

  .profile {

    .profile-photo {
      max-width: 32;
    }

    .author-name {
      font-size: 0.8em;
      font-weight: bolder;
    }
  }

  .review-contain {
    max-width: 400;

    .rating-date {
      p {
        padding-left: 10%;
        font-size: 0.9em;
      }
    }

    .text-review {
      background-color: $color1-title;
      padding: 1%;
      border-radius: 15px;
      font-size: 0.9em;
    }
  }
}
/*
.review::after {
  content: "";
  height: 2px;
  background: linear-gradient(to right, $color1-title 0%, $color2-title 50%, $color1-title 100%);
  position: absolute;
  width: 100%;
}
 */
