$color1-title: #eeeeee;
$color2-title:#00adb5;
$color3-title: #222831;

.review {
  padding: 2px;
  background: white;
  border-radius: 10px;
  margin-bottom: 2px;
  max-width: 400;

    .author-name {
      font-size: 0.8em;
      font-weight: bolder;
    }

  .review-contain {

    .rating-date {
      p {
        margin: 2px;
        font-size: 0.7em;
      }
    }

    .text-review {
      background-color: $color1-title;
      padding: 1%;
      border-radius: 10px;
      font-size: 0.8em;
    }
  }
}

.profile-photo {
  width: 32px;
}
