<!-- this creates a google map on the page with the given latitude/longitude from -->
<!-- the component as the initial center of the map: -->
<agm-map
[latitude]="latitude"
[longitude]="longitude"
[zoom]="zoom"
[disableDefaultUI]="false"
[zoomControl]="false"
(mapClick)="mapClicked($event)"
[usePanning]="true"
>
<ng-container *ngFor="let m of placeService.restaurants; let i = index">
<agm-marker *ngIf="placeService.isFiltered(m.rating)"
  [latitude]="m.latitude"
    [longitude]="m.longitude"
    [markerDraggable]="m.draggable"
    [iconUrl]='{url: "./assets/images/map-marker.png", scaledSize: { width: 28, height: 42}}'
    [animation]="m.animation"
    (mouseOver)="markerOver(m)"
    (mouseOut)="markerOut(m)"
    (markerClick)="clickedMarker(m.id, infoWindow)">
    <agm-info-window #infoWindow width="200"  height="140">
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <strong>{{m.name}}</strong>
        <img src={{m.photo}} width="150" height="85">
        <app-stars [rating]="m.rating"></app-stars>
      </div>
      <app-add-new-restaurant *ngIf="m.name === 'Nouveau Restaurant!'"></app-add-new-restaurant>
    </agm-info-window>
  </agm-marker>
</ng-container>
  <agm-marker [latitude]="latitude"
  [longitude]="longitude"
  [label]="User"
  [iconUrl]='{url: "./assets/images/current-location-marker.png", scaledSize: { width: 28, height: 32}}'
  [markerDraggable]="true"
  (dragEnd)="markerMoved($event)"
  >
    <agm-info-window>
      <strong>Vous êtes ici</strong>
    </agm-info-window>
  </agm-marker>

</agm-map>
