<!-- this creates a google map on the page with the given latitude/longitude from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)" [usePanning]="true"
(mapReady)="setMap($event)">

  <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.latitude"
    [longitude]="m.longitude" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)"
    [iconUrl]='{url: "./assets/images/map-marker.png", scaledSize: { width: 28, height: 42}}'>
    <agm-info-window>
      <strong>Restaurant {{m.label}}</strong>
    </agm-info-window>
  </agm-marker>

  <agm-marker [latitude]="latitude" [longitude]="longitude" [label]="User" [iconUrl]='{url: "./assets/images/current-location-marker.png", scaledSize: { width: 28, height: 32}}'>
    <agm-info-window>
      <strong>Vous êtes ici</strong>
    </agm-info-window>
  </agm-marker>

  <agm-circle [latitude]="latitude" [longitude]="longitude" [radius]="1000" [fillColor]="'rgba(242, 153, 0, 0.5)'"
    [circleDraggable]="false" [editable]="false">
  </agm-circle>

</agm-map>
