<ul class="groupe-list">
  <cdk-virtual-scroll-viewport itemSize="100%">
    <ng-container *ngFor="let restaurant of restaurants">
      <li fxLayout="column" fxLayoutAlign="space-around none">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h1>Restaurant n°{{restaurant.id}}</h1>
          <h1>{{restaurant.name}}</h1>
          <aside fxLayout="row" fxLayoutAlign="space-between center">
            <app-stars [rating]="restaurant.rating"></app-stars>
            <p>{{restaurant.rating}}</p>
          </aside>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div><img src={{restaurant.photo}} width="300"></div>
          <div fxLayout="column" fxLayoutAlign="space-around center">
            <h2>Adresse</h2>
            <h3>{{restaurant.vinanityAdress}}</h3>
          </div>
        </div>
        <ng-container *ngFor="let review of restaurant.reviews">
        <app-restaurant-review [review]="review"></app-restaurant-review>
        </ng-container >
      </li>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</ul>
