<ul class="groupe-list">
  <cdk-virtual-scroll-viewport itemSize="100%">
    <ng-container *ngFor="let restaurant of restaurants; let i = index">
      <li fxLayout="column" fxLayoutAlign="space-around none" id="RestaurantId{{restaurant.id}}">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <h1>Restaurant n°{{restaurant.id}}</h1>
          <h1>{{restaurant.name}}</h1>
          <aside fxLayout="row" fxLayoutAlign="space-between center">
            <app-stars [rating]="restaurant.rating"></app-stars>
            <p>{{restaurant.rating}}</p>
          </aside>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div><img src={{restaurant.photo}} width="300"></div>
          <div fxLayout="column" fxLayoutAlign="space-around center">
            <h2>Adresse</h2>
            <h3>{{restaurant.vinanityAdress}}</h3>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-fab (click)="showReviews ? showReviews = false: getRestaurantDetails(i);">Consulter les avis</button>
        <button mat-fab (click)="showAddReview ? showAddReview = false: showAddReview = true; showReviews = false">Ajouter un avis</button>
        </div>
        <div *ngIf="showReviews">
          <ng-container *ngFor="let review of restaurant.reviews">
            <app-restaurant-review [review]="review"></app-restaurant-review>
          </ng-container>
        </div>
        <div *ngIf="showAddReview">Ajouter une Review!</div>
      </li>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</ul>

