$color1-title: #eeeeee;
$color2-title:#00adb5;

mat-icon {
  color: $color2-title;
}

#star-selector {
  background: $color2-title;
  text-align: center;
  border: 2px solid $color1-title;
  padding: 2%;

  h3 {
    padding-top: 3px;
  }

  mat-icon {
    color: $color1-title;
  }
}

@media screen and (max-width: 600px) {
  h3 {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 0.8em;
  }
}
