.groupe-list {
  max-width: 500px;
  color: rgb(34, 34, 34);
  list-style: none;
  margin: 50px auto;
  padding: 10px;

  cdk-virtual-scroll-viewport {
    height: 100vh;
    max-height: 600px;
    min-width: 800px;

    li {
      min-height: 150px;
      padding: 25px;
      background: rgba(228, 211, 181, 0.76);
      border-radius: 5px;
      margin-bottom: 5px;
      text-align: center;
      font-weight: 600;

      img{
        background: rgb(34, 34, 34);
        max-width: 300px;
        max-height: 225px;
        }
      }
    }
  }
