$color1-title: #C30000;
$color2-title: #F29800;

mat-icon {
  color: $color2-title;
}

#star-selector {
  background:  rgba(242, 153, 0, 0.952);
  text-align: center;
  border: 2px solid #222222;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 10px;
  padding: 2%;

  mat-icon {
    color: $color1-title;
  }
}
