app-restaurants-list{
  height: 100%;
}

restaurants-view{
  width: 100vh;
  height: 100vh;
}
section{
  width: 100vh;
  height: 90%;
  margin: 10
}
aside{
  width: 100vh;
  height: 90%;
  margin: 10
}
