/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  font-family: Georgia;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/gastronomie-background.png"), linear-gradient(to right, rgb(255, 239, 186), rgb(255, 255, 255));
  background-repeat: no-repeat;
  background-position: 15% 15%;
}

// Globale variables

$color1-title: #C30000;
$color2-title:#F29800;

ul {
  padding: 0;
  margin: 0;
}

.groupe-list {
  color: rgb(34, 34, 34);
  list-style: none;
  width: 100vh;
  height: 70vh;
  padding: 0;

  cdk-virtual-scroll-viewport {
    width: 100%;
    height: 100%;
    padding: 0;

    li {
      min-height: 150px;
      padding: 1%;
      background: rgba(228, 211, 181, 0.76);
      border-radius: 5px;
      margin-bottom: 5px;
      text-align: center;
      font-weight: 600;

      img {
        max-width: 300px;
        max-height: 225px;
        padding: 0;
      }
    }
  }
}
