$color1-title: #eeeeee;
$color2-title:#00adb5;

mat-icon {
  color: $color2-title;
}

.author-name {
  width: 50%;
  min-width: 100px;
}

.commentary {
  width: 80%;
  min-width: 140px;
}

.star-rating {
  width: 20%;
  min-width: 100px;
}

.user-review {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #cae8f7;
  border-radius: 15px;
}
