$color1-title: #eeeeee;
$color2-title:#00adb5;

mat-icon {
  color: $color2-title;
}

.author-name {
  width: 50%;
}

.commentary {
  width: 80%;
}

.star-rating {
  width: 20%;
}

.user-review {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #cae8f7;
  border-radius: 15px;
}


@media screen and (max-width: 375px) {
  .user-review  {
    max-width: 365px
  }
}
