<div fxLayout="column" fxLayoutAlign="space-around center" >
<!--   <mat-form-field>
  <textarea matInput placeholder="Textarea"></textarea>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Select">
    <mat-option value="option">sans étoile</mat-option>
    <mat-option value="option">1 étoile</mat-option>
    <mat-option value="option">2 étoiles</mat-option>
    <mat-option value="option">3 étoiles</mat-option>
    <mat-option value="option">4 étoiles</mat-option>
    <mat-option value="option">5 étoiles</mat-option>
  </mat-select>
</mat-form-field> -->
</div>
